body {
    margin: 0;
}

header {
    background-color: aqua;
}

.flex-container {
    display: flex;
}

header ul {
    list-style-type: none;
}

header ul li {
    display: inline;
    margin-left: 50px;
}

header ul li a {
    font-size: 18px;
    color: brown;
    text-decoration: none;
    transition: 2s all;
}

header ul li a:hover {
    color: crimson;

}

.left-header {
    flex: 50%;
}

.right-header {
    flex: 50%;
}

/*nav css starts here*/
nav {
    background-color: blueviolet;

}

.nav-right {
    flex: 20%;
    text-align: center;
    background-color: rgb(19, 0, 128);
}

.nav-left {
    flex: 5%;
}

.nav-left h1 {
    color: whitesmoke;
    font-size: 26px;
    margin: 10px;
    text-align: center;
}

.nav-right {
    flex: 50%;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
    color: white;
    transition: 0.5s all;
}

nav ul li {
    display: inline;
    margin: 40px;

}

nav ul li a:hover {
    background-color: darkgreen;
    color: black;
}

.menu .dropdown {
    position: absolute;
    height: auto;
    width: 12px;
    background-color:  rgb(19, 0, 128);
    left: 60%;
    display: none;
    line-height: 160%;
    box-shadow: 25px 16px 22px -1px rgba(69,47,47,0.75);
-webkit-box-shadow: 25px 16px 22px -1px rgba(69,47,47,0.75);
-moz-box-shadow: 25px 16px 22px -1px rgba(69,47,47,0.75);
}
.menu:hover .dropdown
{
    display: block;
}